
div.block {
  padding: 1em;
  border-bottom: 1px solid #2e8b57;

}
#data {
 color: #000000;
}

form {
    padding: 1em;
    border-bottom: 1px solid #000000;
}

div {
  padding: 0;
  margin: 0;
}

.hidden {

}

p {
    text-decoration: underline;
}

#button1 {
    align: right

}